mysql_foreach/src/main/mule/mysql_foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8e5968b9-48ea-41b7-845e-072d7ff15df4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="3c6d447a-bad6-4cf4-a2fc-e00d79f75f0c" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="muel_db" />
	</db:config>
	<flow name="mysql_foreachFlow" doc:id="663c147d-bbe2-4568-b0b8-4f446255c563" >
		<http:listener doc:name="Listener" doc:id="54feaa0d-bd86-4db6-b2c1-69b7c7feb2d4" config-ref="HTTP_Listener_config" path="Mysql_foreach"/>
		<ee:transform doc:name="Transform Message" doc:id="e9b5fe33-0b1e-4456-9cc1-729f695f4dee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 10 map
{
	id:if ($$==2) "Muel_soft" else 10 +$$,
	Name:"Naren",
	Lname:"reddy",
	Address:"PTP"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each" doc:id="9890a79e-37e9-47c0-909e-05422e41d578" >
			<logger level="INFO" doc:name="Logger" doc:id="7599b2e1-9800-40a6-9d33-16878b796bb2" message="#[payload]"/>
			<logger level="INFO" doc:name="Logger" doc:id="7599b2e1-9800-40a6-9d33-16878b796bb2" message="hi"/>
			<db:insert doc:id="7291ef0f-b337-493e-a4eb-66e84a19b802" config-ref="Database_Config">
			<db:sql><![CDATA[insert into muel_db.student1(id,Name,Lname,Address) values (:id,:Name,:Lname,:Address)]]></db:sql>
			<db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		</parallel-foreach>
	</flow>
</mule>
